<ion-header>
  <ion-toolbar>
    <ion-title>Meal Planning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div id="categories">
      <ion-item-group *ngFor="let category of categories">
        <ion-item-divider  (click)="toggleItems(category)">
          {{category.name}}
          <ion-icon slot="end" name="chevron-down" *ngIf="!category.showItems"></ion-icon>
          <ion-icon slot="end" name="chevron-up" *ngIf="category.showItems"></ion-icon>
          <ion-icon slot="end" name="trash" (click)="deleteCategory(category)"></ion-icon>
        </ion-item-divider>
        <ion-item-sliding *ngIf="category.showItems">
          <ion-item *ngFor="let item of category.items">
            <ion-label>{{item.name}}</ion-label>
            <ion-icon slot="end" name="trash" (click)="deleteItem(category, item)"></ion-icon>
          </ion-item>
        </ion-item-sliding>
        <ion-item *ngIf="category.showItems">
          <ion-input [(ngModel)]="newItemName" placeholder="New item"></ion-input>
          <ion-button slot="end" (click)="addItem(category)">Add</ion-button>
        </ion-item>
      </ion-item-group>
    </div>
  </ion-list>
  <ion-input [(ngModel)]="newCategory" placeholder="Add Meal"></ion-input>
  <ion-button (click)="addCategory(newCategory)">Add</ion-button>
</ion-content>